body {
  text-align: center;
  font-size: 1.3em;
  display: flex;
  margin: 0;
}

p {
  margin: 0;
}

button,
input {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 0.8em;
  background-color: white;
}

button {
  cursor: pointer;
}

.sidebar-div {
  width: auto;
  background-color: lightgrey;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
}

.sidebar-div img {
  padding-top: 30px;
}

.stats-div {
  font-size: 1.2em;
  padding: 0 10px;
  white-space: nowrap;
}

.book-img {
  width: 2em;
}

.library {
  padding: 0 10px;
  width: 100%;
}

.library-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 15px;
  gap: 10px;
}

.library-div > div:not(.buttons-div) {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 0.9em;
  position: relative;
  padding-top: 10px;
}

.library-div div p {
  height: 30px;
  padding: 10px;
}

.library-div div p:last-of-type {
  margin-bottom: 10px;
}

.delete-button {
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.toggle-button,
.favorite-button {
  padding: 10px;
  border-radius: 20px;
}

.buttons-div {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-button,
.favorite-button {
}

/*dialog*/

dialog {
  padding: 10px;
  width: 25%;
}

.dialog-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-div:first-of-type button {
  margin-bottom: 20px;
}
dialog::backdrop {
  background-color: lightgray;
  opacity: 0.6;
}

.dialog-buttons-div {
  display: flex;
  gap: 20px;
}

/*status change*/
.read {
  background-color: green;
}

.in-progress {
  background-color: orange;
}

.not-started {
  background-color: red;
}

.read-text {
  color: green;
}

.in-progress-text {
  color: orange;
}

.not-started-text {
  color: red;
}

.favorite {
  background-color: red;
}

.not-favorite {
  background-color: blue;
}
